QTabBar {
    background: black;
    color: lightgrey;
    qproperty-drawBase: 0;
}

QTabBar::tab {
    font: 75 9pt "MS Shell Dlg 2";
    background: black;
    color: lightgrey;
    border: none;
    border-right: 1px solid #646464;
    max-width: 360px;
    height: 40px;
    padding: 5px;
    text-align: left;
}

QTabBar::tab:selected {
    background: #323232;
}

QTabWidget::pane {
    border: 0;
}
