QMainWindow {
    font-family: "MS Shell Dlg 2";
}

QToolBar {
    background: #323232;
    color: white;
    border: none;
    height: 48px;
}

QToolButton {
    background: #323232;
    color: white;
    width: 48px;
    height: 48px;
}

QToolButton::disabled {
    background: #323232;
    color: grey;
}

QToolButton::hover {
    background: #646464;
}

QTabBar {
    background: black;
    color: lightgrey;
    qproperty-drawBase: 0;
}

QTabBar::tab {
    font: 75 9pt "MS Shell Dlg 2";
    background: black;
    color: lightgrey;
    border: none;
    border-right: 1px solid #646464;
    max-width: 360px;
    height: 40px;
    padding: 5px;
    text-align: left;
}

QTabBar::tab:selected {
    background: #323232;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
}

QTabBar::close-button {
    image: url(%s);
    background: black;
    color: white;
    border: none;
    /* subcontrol-origin: padding; */
    subcontrol-position: right;
    width: 24px;
    height: 24px;
}

QTabBar::close-button:selected {
    image: url(%s);
    background: black;
}

QTabBar::close-button:hover {
    image: url(%s);
    background: black;
}

QTabWidget::pane {
    border: 0;
}

QLineEdit {
    font: 75 10pt "MS Shell Dlg 2";
    background: #646464;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
}

QToolTip {
    background: #646464;
    color: white;
    border: none;
    border-radius: 4px;
}

QMenu {
    background: #323232;
    color: white;
    border: none;
    border-radius: 4px;
}

QMenu::item {
    background: #323232;
    color: white;
}

QMenu::item:selected {
    background: #646464;
}

QMenu::item:disabled {
    color: #646464;
}

QDialog {
    font: 75 10pt "MS Shell Dlg 2";
    background: #323232;
    color: white;
    border: none;
    border-radius: 10px;
}

QLabel {
    font: 75 10pt "MS Shell Dlg 2";
    background: #323232;
    color: white;
    border: none;
}

QPushButton {
    font: 75 10pt "MS Shell Dlg 2";
    background: #323232;
    color: white;
    border-top: 1px solid #969696;
    border-left: 1px solid #969696;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    min-width: 80px;
    min-height: 30px;
    border-radius: 4px;
}

QPushButton::hover {
    background: #646464;
}

QStatusBar {
    background: #323232;
    color: white;
    border: none;
    height: 5px;
}

QProgressBar {
    background: #646464;
    color: white;
    border: none;
}
