QPushButton {
    font-family: "MS Shell Dlg 2";
    font-size: 9pt;
    background: #323232;
    color: white;
    border: none;
    min-width: 20px;
    min-height: 20px;
}

QPushButton:hover {
    background: lightgrey;
}