QTabBar {
    font: 75 10pt "MS Shell Dlg 2";
    background: black;
    color: lightgrey;
    qproperty-drawBase: 0;
}

QTabBar::tab {
    font: 75 10pt "MS Shell Dlg 2";
    background: black;
    color: lightgrey;
    border: none;
    width: 48px;
    height: 48px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 6px;
}

QTabBar::tab:selected {
    background-color: #646464;
    border: none;
}

QTabWidget::pane {
    border: 0;
}
